.ResultsCard {
  width: 24%;
  height: 200px;
  margin-bottom: 20px;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
  transition: transform .2s ease-in-out;
}

.ResultsCard:hover {
  transform: scale(1.075);
  cursor: pointer;
}

.info {
  background: linear-gradient(to bottom, #000000b3 0%, #0000004d 70%, #0000 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.destination,
.price {
  font-weight: 500;
  font-size: 18px;
}

.start-date,
.end-date {
  display: flex;
}

.start-date .MuiIcon-root {
  margin-right: 6px;
}
.end-date .MuiIcon-root {
  margin-left: 6px;
}