.SearchBar {
    background: white;
    border-radius: 5px;
    padding: 28px;
    max-width: 1280px;
    width: 100%;
    position: absolute;
    bottom: -64px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
    display: flex;
    justify-content: space-between;
}

.SearchBar .MuiInput-underline:before,
.SearchBar .MuiInput-underline:after {
    content: none;
}

.MuiAutocomplete-root {
    width: 180px !important;
}

.MuiFormControl-root {
    max-width: 180px;
}

.MuiSelect-selectMenu {
    text-align: left;
}

.duration {
    width: 180px;
}