.Header {
  background-size: cover;
  background-position-y: -70px;
  height: 40vh;
  padding: 16px;
  position: relative;
  width: 100%;
}

h1 {
  color: #fff;
  font-size: 36px;
  width: 650px;
  text-shadow: 2px 2px 2px rgba(0,0,0, 0.25);
  text-align: left;
  text-transform: uppercase;
}

section.container {
  max-width: 1280px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}